body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'Arsenica';
    src: url('Font-Arsenica/ArsenicaTrial-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenica';
    src: url('Font-Arsenica/ArsenicaTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: 'Arsenica', sans-serif;
    font-weight: 500;
    font-size: 4rem;
}

h2 {
    font-family: 'Arsenica', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.3rem;
}

.vertical-text2 {
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    white-space: nowrap;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem;
}

.svg-board {
    max-width: 100%;
    height: auto;
}